<#@ template debug="true" #>
<#@ parameter type="Neo.ProxyGen.Contract" name="Contract" #>

<# //Uncomment this line to test that the host allows the engine to set the extension. #>
<# //@ output extension=".htm" #>

<# //Uncomment this line if you want to debug the generated transformation class. #>
<# //System.Diagnostics.Debugger.Break(); #>

public class <#= Contract.Name #>Proxy {


<# foreach (var m in Contract.Methods) {
    if (m.Safe) { #>
    public <#=m.ReturnType#> <#=m.Name#>() {
    }
    
<#  } else { #>
    public async Task<Neo.UInt256> <#=m.Name#>Async() {
    }
    
    public <#=m.ReturnType#> <#=m.Name#>() {
    }

<# } } #>
}